@import "./reset.css";
@import "./burger.css";
@import "./headerSlider.css";
@import "./activitiesSlider.css";
@import "./rating.css";
/* font-family: 'Manrope', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */

body {
    /* цвет основного фона из макета */
    background-color: #fff;
    /* сюда дефолт шрифт с гугла
    и др. параметры из макета */
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #fff;
    /* также базовые стили (цвет текста и т.д.) */
}
.container {
    min-height: 1062px;
    /* нужен чтобы определить ширину для контента и разместить контент по центру страницы */
    display: flex;
    justify-content: center;
    max-width: 1920px; /* ширина контейнера = ширина + размер отступов * 2 */
    padding: 0 15px; /* поля с моб.версии */
    margin: 0 auto; /* выравниваем контейнер по центру */
}
:root {
    /* color variables */
    --accent-color: #ededed; /* delete this */
}
/* стили для текста (text-p etc) */

/* HEADER */
.header {
    width: 100%;
    padding-bottom: 125px;
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 1;
}

.header-logo {
    display: flex;
    align-self: center;
    padding-top: 48px;
    margin-right: 449px;
}
.header-logo-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 18px;
    color: #fff;
    padding-top: 14px;
    padding-left: 11px;
    letter-spacing: 5px;
}
.header-logo img {
    height: 40px;
    
}
/* NAVIGATION STYLES */
.header-nav {
    padding-top: 58px;
    
	width: 120px;
	width: fit-content; /* space for all menu items */
}
.header-nav ul {
    
	list-style: none; /* if someone using this code & not use reset.css */
	margin-left: 30px;
}
.header-nav ul li {
    background-color: #1e1e1e;
    border-radius: 10px;
	display: inline; /* convert block to inline */
	float: left; /* for full control of how many px between */
	margin-right: 65px;
}
.header-nav ul li:hover {
    background-color: #fff;
}
.header-nav ul li a {
	padding: 0 10px; /* no space between items */
	font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
	/* Whenever you set the line-height to the full height of it's container, it centers the text */
	line-height: 60px; /* full height of container - centers by height */
	color: #fff;
	display: block; /* 1/2 - click on link outside link's text */
	height: 100%; /* 2/2 */
}
.header-nav ul li a:hover {
	color: #1e1e1e;
    
}
.header-heading-p {
    position: absolute;
    padding-top: 370px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 19px;
}
.header-heading-h1 {
    position: absolute;
    padding-top: 500px;
    font-family: 'Montserrat', sans-serif;
    font-size: 250px;
    font-weight: 700;
}
/* ACTIVITIES SECTION */
.section-wrapper {
    margin-top: 137px;
    text-align: center;
}
.activities {
    width: 1690px;
    height: auto;
    background-color: #fff;
    margin-bottom: 197px;
    
}
.activities-heading-p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #474747;
    margin-bottom: 27px;
}
.activities-heading-h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 46px;
    color: #2d2d2d;
    margin-bottom: 110px;
}
/* ABOUT US */
.about {
    width: 1690px;
    height: auto;
    background-color: #fff;
    margin-bottom: 208px;
    
}
.about-heading-p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #474747;
    margin-bottom: 27px;
    letter-spacing: 12px;

}
.about-heading-h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 46px;
    color: #2d2d2d;
    margin-bottom: 110px;
}
.about-wrapper {
    display: flex;
    justify-content: space-evenly;
}
.about-wrapper img {
    width: 872px;
    height: 643px;
}
.about-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 50px;
}
.about-info-item {
    display: flex;
    flex-direction: column;
    text-align: left;
    /* height: 400px; */
    margin-bottom: 60px;
    width: 440px;
    position: relative;
}
.about-info-h3 {
    align-self: flex-start;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #3d3d3d;
}
/* before */
.about-info-h3::before {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 26px;
    color: 9b9b9b;
    letter-spacing: 3px;
    content: "01";
    position: absolute;
    left: -45px;
    top: 2px;
    right: 43px;

}
.about-info div:nth-child(2).about-info-item .about-info-h3::before {
    content: "02";
}
.about-info div:nth-child(3).about-info-item .about-info-h3::before {
    content: "03";
}
/* --before */
.about-info-p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #6d6d6d;
    padding-top: 20px;
}
/* beauties */
.beauties {
    width: 1690px;
    height: auto;
    background-color: #fff;
    
}
.beauties-heading-p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #474747;
    margin-bottom: 27px;
    letter-spacing: 12px;

}
.beauties-heading-h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 46px;
    color: #2d2d2d;
    margin-bottom: 110px;
}
/* beauties cards */
.beauties-cards {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-left: 70px;
    
}
.beauties-cards-card {
    width: fit-content;
    position: relative;
    height: 620px;
    width: 351px;
}
.card-info {
    position: absolute;
    top: 55%;
    /* right: 10%; */
    left: 0px;
}

.card-info-h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #000;
    margin-bottom: 9px;
    
}
.card-info-p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: #959595;
    padding-right: 80px;
    margin-top: 14px;
    /* opacity: 60%; */
}
.beauties-cards:nth-child(1) .beauties-cards-card div h3 {
    margin-left: -30px; /* fix reine h3 info */
}
/* beauties form */
.beauties-form {
    /* border: 1px solid black; */
    position: relative;
    margin-left: 70px;
    /* height: 75px; */
    height: 105px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    position: relative;
    padding-right: 15%;
    padding-top: 115px;
    background-color: #f4f4f4;
    margin-bottom: 114px;
}
.form-date, .form-location, .form-place {
    /* border: 1px solid green; */
    max-width: 321px;
    min-width: 200px;
    height: 75px;
    display: inline-block;
    margin-right: 146px;
    /* padding: 20px; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #4e4e4e;
    position: relative;
}
.form-date {
    
}
.form-button {
    display: inline-block;
    /* align-items: flex-end; */
    position: absolute;
    top: 20%;
}
.form-button button {
    /* border: 1px solid red; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 5px;
    color: #fff;
    width: 261px;
    height: 75px;
    background-color: #3d3d3d;
    padding: 27px 79px;
}
.form_item-wrapper {
    padding: 5px;
    
    /* border: 1px solid black; */
}
.form-location label {
    position: absolute;
    left: 6px;
    top: -21px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 3px;
    color: #9b9b9b;
}
.form-place label {
    position: absolute;
    left: 6px;
    top: -21px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 3px;
    color: #9b9b9b;
}
.form-date label {
    position: absolute;
    left: 6px;
    top: -21px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 3px;
    color: #9b9b9b;
}
.form_item-wrapper input {
    border: 1px solid #dbdbdb;
    padding: 10px;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
    color: #4e4e4e;
    
}
.form_item-wrapper select {
    border: 1px solid #dbdbdb;
    padding: 10px;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
    color: #4e4e4e;
}
/* partners-reviews */
.partners-reviews {
    width: 1690px;
    height: auto;
    background-color: #fff;
    /* border: 1px solid black; */
    margin-left: 70px;
    padding-top: 178px;
}
.partners-reviews-heading-p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #474747;
    margin-bottom: 27px;
    letter-spacing: 12px;

}
.partners-reviews-heading-h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 46px;
    color: #2d2d2d;
    margin-bottom: 40px;
}
.partners-logo {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 188px;
}
.logo-wrapper {
    display: flex;
    align-items: center;
    width: 100px;
    object-fit: cover;
}
.partners-logo img {

}