@import "./reset.css";
@import "./burger.css";
@import "./headerSlider.css";
@import "./activitiesSlider.css";
@import "./rating.css";
/* font-family: 'Manrope', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
    /* DEBUG CSS */
    outline: 3px solid limegreen !important; 
}
body {
    /* цвет основного фона из макета */
    background-color: #fff;
    /* сюда дефолт шрифт с гугла
    и др. параметры из макета */
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #fff;
    /* также базовые стили (цвет текста и т.д.) */
}
:root {
    /* color variables */
    --accent-color: #ededed;
    /* delete this */
}

/* стили для текста (text-p etc) */

/* HEADER */
.header {
    /* transfer container */
    /* min-height: 1062px; */
    display: flex;
    justify-content: center;
    margin: 0 auto;
    /* end */
    /* width: 100%; */
    padding-bottom: 125px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 1;
}

.header-logo {
    display: flex;
    align-self: center;
    padding-top: 48px;
    margin-right: 177px;
}

.header-logo-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 18px;
    color: #fff;
    padding-top: 14px;
    padding-left: 11px;
    letter-spacing: 5px;
}

.header-logo img {
    height: 40px;

}

/* NAVIGATION STYLES */
.header-nav {
    padding-top: 58px;

    width: 120px;
    width: fit-content;
    /* space for all menu items */
}

.header-nav ul {

    list-style: none;
    /* if someone using this code & not use reset.css */
    margin-left: 30px;
}

.header-nav ul li {
    background-color: #1e1e1e;
    border-radius: 10px;
    display: inline;
    /* convert block to inline */
    float: left;
    /* for full control of how many px between */
    margin-right: 65px;
}

.header-nav ul li:hover {
    background-color: #fff;
}

.header-nav ul li a {
    padding: 0 10px;
    /* no space between items */
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    /* Whenever you set the line-height to the full height of it's container, it centers the text */
    line-height: 60px;
    /* full height of container - centers by height */
    color: #fff;
    display: block;
    /* 1/2 - click on link outside link's text */
    height: 100%;
    /* 2/2 */
}

.header-nav ul li a:hover {
    color: #1e1e1e;

}

.header-heading-p {
    position: absolute;
    /* padding-top: 462px; */
    padding-top: 38vh;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    /* font-size: 30px; */
    font-size: clamp(0.8rem, 0.287rem + 1.4275vw, 2rem);
    letter-spacing: 19px;
}

.header-heading-h1 {
    position: absolute;
    /* padding-top: 570px; */
    padding-top: 46vh;
   
    font-family: 'Montserrat', sans-serif;
    /* font-size: 250px;*/
    font-size: clamp(5rem, 0.2974rem + 13.0855vw, 16rem); 
    font-weight: 700;
}

/* ACTIVITIES SECTION */
.section-wrapper {
    margin-top: 137px;
    text-align: center;
    max-width: 1690px;
    margin: 0 auto;
}
.section-wrapper section {
    /* margin: 0 auto; */
}
.activities {
    /* width: 1690px; */
    height: auto;
    background-color: #fff;
    margin-bottom: 197px;

}

.activities-heading-p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #474747;
    margin-bottom: 27px;
}

.activities-heading-h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 46px;
    color: #2d2d2d;
    margin-bottom: 110px;
}

/* ABOUT US */
.about {
    /* width: 1690px; */
    height: auto;
    background-color: #fff;
    margin-bottom: 208px;

}

.about-heading-p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #474747;
    margin-bottom: 27px;
    letter-spacing: 12px;

}

.about-heading-h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 46px;
    color: #2d2d2d;
    margin-bottom: 110px;
}

.about-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.about-wrapper img {
    width: 872px;
    height: 643px;
    /* height: 92%; */
    margin-right: 65px;
}

.about-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 50px;
}

.about-info-item {
    display: flex;
    flex-direction: column;
    text-align: left;
    /* height: 400px; */
    margin-bottom: 60px;
    width: 440px;
    position: relative;
}

.about-info-h3 {
    align-self: flex-start;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #3d3d3d;
}

/* before */
.about-info-h3::before {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 26px;
    color: 9b9b9b;
    letter-spacing: 3px;
    content: "01";
    position: absolute;
    left: -45px;
    top: 2px;
    right: 43px;

}

.about-info div:nth-child(2).about-info-item .about-info-h3::before {
    content: "02";
}

.about-info div:nth-child(3).about-info-item .about-info-h3::before {
    content: "03";
}

/* --before */
.about-info-p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #6d6d6d;
    padding-top: 20px;
}

/* beauties */
.beauties {
    /* width: 1690px; */
    height: auto;
    background-color: #fff;

}

.beauties-heading-p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #474747;
    margin-bottom: 27px;
    letter-spacing: 12px;

}

.beauties-heading-h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 46px;
    color: #2d2d2d;
    margin-bottom: 110px;
}

/* beauties cards */
.beauties-cards {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-left: 70px;

}

.beauties-cards-card {
    width: fit-content;
    position: relative;
    height: 620px;
    /* width: 351px; */
}

.card-info {
    position: absolute;
    top: 55%;
    /* right: 10%; */
    left: 0px;
}

.card-info-h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #000;
    margin-bottom: 9px;

}

.card-info-p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: #959595;
    padding-right: 80px;
    margin-top: 14px;
    /* opacity: 60%; */
}

.beauties-cards:nth-child(1) .beauties-cards-card div h3 {
    margin-left: -30px;
    /* fix reine h3 info */
}

/* beauties form */
.beauties-form {
    /* border: 1px solid black; */
    position: relative;
    margin-left: 70px;
    /* height: 75px; */
    height: 105px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    position: relative;
    padding-right: 15%;
    padding-top: 115px;
    background-color: #f4f4f4;
    margin-bottom: 114px;
}

.form-date,
.form-location,
.form-place {
    /* border: 1px solid green; */
    max-width: 321px;
    min-width: 200px;
    height: 75px;
    display: inline-block;
    margin-right: 146px;
    /* padding: 20px; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #4e4e4e;
    position: relative;
}

.form-date {}

.form-button {
    display: inline-block;
    /* align-items: flex-end; */
    position: absolute;
    top: 20%;
}

.form-button button {
    /* border: 1px solid red; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 5px;
    color: #fff;
    width: 261px;
    height: 75px;
    background-color: #3d3d3d;
    padding: 27px 79px;
}

.form_item-wrapper {
    padding: 5px;

    /* border: 1px solid black; */
}

.form-location label {
    position: absolute;
    left: 6px;
    top: -21px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 3px;
    color: #9b9b9b;
}

.form-place label {
    position: absolute;
    left: 6px;
    top: -21px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 3px;
    color: #9b9b9b;
}

.form-date label {
    position: absolute;
    left: 6px;
    top: -21px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 3px;
    color: #9b9b9b;
}

.form_item-wrapper input {
    border: 1px solid #dbdbdb;
    padding: 10px;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
    color: #4e4e4e;

}

.form_item-wrapper select {
    border: 1px solid #dbdbdb;
    padding: 10px;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
    color: #4e4e4e;
}

/* partners-reviews */
.partners-reviews {
    /* width: 1690px; */
    height: auto;
    background-color: #fff;
    /* border: 1px solid black; */
    margin-left: 70px;
    padding-top: 178px;
}

.partners-reviews-heading-p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #474747;
    margin-bottom: 27px;
    letter-spacing: 12px;

}

.partners-reviews-heading-h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 46px;
    color: #2d2d2d;
    margin-bottom: 40px;
}

.partners-logo {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 188px;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    width: 100px;
    object-fit: cover;
}

.partners-logo img {}

/* reviews */
.reviews {
    /* border: 1px solid black; */
    /* margin-left: 70px; */
    margin-bottom: 227px;
    background-image: url("../img/other/reviews-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 544px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.reviews-wrapper {
    /* border: 1px solid red; */
    display: flex;


}

.reviews-card {
    margin-right: 51px;
}

.reviews-card:last-child {
    margin-right: 0;
}

.reviews-item {
    width: 350px;
    height: 192px;
    background-color: #fff;
    padding: 78px 15px;
    position: relative;
    background-image: url("../img/other/Rating-Star-mod1.png");
    background-repeat: no-repeat;
    background-position: 165px 10px;
    margin-bottom: 26px;

}

.reviews-item::after {
    content: "";
    border-style: solid;
    border-width: -0 20px 20px 21px;
    border-radius: 47px;
    border-color: transparent transparent #fff transparent;
    transform: rotate(178deg);
    position: absolute;
    top: 188px;
    left: 27px;

}

.reviews-quotes {
    font-family: 'Manrope';
    font-style: 400;
    font-weight: 800;
    font-size: 60px;
    line-height: 98px;
    opacity: 0.4;
    color: #ff9921;
    position: absolute;
    top: 20px;
    left: 30px;
}

.reviews-text {

    color: #474747;
}

/* avatars */
.reviews-avatar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.avatar-wrapper {
    padding: 10px;
    margin-right: 14px;
}


.avatar-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.avatar-name {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
}

.avatar-text {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    opacity: 0.7;
}

/* footer */
.footer {
    min-height: 484px;
    background-color: #f4f4f4;
    /* border: 1px solid black; */
    padding-top: 70px;
    max-width: 1620px;
    margin: 0 auto;
}

.footer-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-heading img {
    width: 56px;

}

.footer-logo-wrapper {
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 5px;
    border-radius: 26px;
    display: flex;
    background-color: #000;
    height: fit-content;
    margin-bottom: 30px;
}

.footer-logo-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.25em;
    color: #000000;
    opacity: 0.9;
}

/* footer links */
.footer-nav {
    padding-top: 58px;
    margin: 0 auto;
    width: 120px;
    width: fit-content;
    /* space for all menu items */
    margin-bottom: 67px;
}

.footer-nav ul {

    list-style: none;
    /* if someone using this code & not use reset.css */
    margin-left: 30px;
}

.footer-nav ul li {
    /* background-color: #1e1e1e; */
    border-radius: 10px;
    display: inline;
    /* convert block to inline */
    float: left;
    /* for full control of how many px between */
    margin-right: 65px;
}

.footer-nav ul li:hover {
    background-color: #dbdbdb;
}

.footer-nav ul li a {
    padding: 0 10px;
    /* no space between items */
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    /* Whenever you set the line-height to the full height of it's container, it centers the text */
    line-height: 60px;
    /* full height of container - centers by height */
    color: #6d6d6d;
    display: block;
    /* 1/2 - click on link outside link's text */
    height: 100%;
    /* 2/2 */
}

.footer-nav ul li a:hover {
    /* color: #1e1e1e; */

}

.footer-line {
    width: 1110px;
    margin-bottom: 61px;
}

/* copyright socials block */
.copyright-socials {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.copy-wrapper {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #6D6D6D;
}

.socials-wrapper {
    /* border: 1px solid red; */
}

.socials-list {
    display: inline-flex;
}

.socials-item-wrapper {
    background-color: #999;
    border-radius: 36px;
    padding: 10px;
    margin-right: 5px;
}
.socials-item-wrapper:hover {
    background-color: #000;
}
.socials-list .socials-item-wrapper li {
    display: inline-block;
    list-style-type: none;
}

.socials-list .socials-item-wrapper img {
    width: 45px;
    height: 45px;
    /* margin-right: 20px; */
}