@import "./reset.css";
/* сюда импорт шрифтов с гугла через import
если нужно   */

body {
    /* цвет основного фона из макета */
    background-color: #e3dcdc;
    /* сюда дефолт шрифт с гугла
    и др. параметры из макета */
    font-family: "";
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #3f3f3f;
    /* также базовые стили (цвет текста и т.д.) */
}
.container {
    /* нужен чтобы определить ширину для контента и разместить контент по центру страницы */

    max-width: 1230px; /* ширина контейнера = ширина + размер отступов * 2 */
    padding: 0 30px; /* поля с моб.версии */
    margin: 0 auto; /* выравниваем контейнер по центру */
}
:root {
    /* color variables */
    --accent-color: #ededed; /* delete this */
}
/* стили для текста (text-p etc) */