/* horizontal tablet */
@media (max-width: 1920px){
    .header-heading-p {
        padding-top: 25%;
        
    }
    .header-heading-h1 {
        padding-top: 30%;
    }
}
@media (max-width: 1199px){
    .header-heading-h1 {
        color: orange;
    }
    .header-logo {
        margin-right: 45px;
    }
    
}
/* vertical tablet */
@media (max-width: 991px){
    .header-heading-h1 {
        color: blue;
    }
    
}
/* horizontal mobile */
@media (max-width: 767px){
    .header-heading-h1 {
        color: green;
    }
    .header-nav { display: none; }
    .burger {
        display: flex;
    }
}
/* vertical mobile */
@media (max-width: 575px){
    .header-heading-h1 {
        color: magenta;
    }
}