/* horizontal tablet */
@media (max-width: 1920px){
    /* HEADER */
    .header-heading-p {
        padding-top: 25%;
        
    }
    .header-heading-h1 {
        padding-top: 30%;
    }
    .header-logo {
        margin-right: 177px;
    }
    /* END HEADER */
    /* ACTIVITIES 1 */
    .activities {
        margin-bottom: 60px;
    }
    .activities-slider {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        /* margin-left: 0; */
        row-gap: 30px;
    }
    .a_prev, .a_next {
        display: none;
    }
    /* END ACTIVITIES 1 */
    /* ABOUT 2 */
    .about {
        margin-bottom: 90px;
    }
    .about-wrapper {
        flex-direction: row;
        row-gap: 30px;
        /* align-items: center; */
    }
    .about-wrapper img {
        object-fit: cover;
        /* height: 230px; */
        width: 632px;
        /* margin-right: 0; */
    }
    .about-info {
        flex-direction: column;
    }
    .about-info-item {
        margin-bottom: 0;
    }
    /* END ABOUT 2 */
    /* BEAUTIES 3 */
    /* END BEAUTIES 3 */
    /* PARTNERS-REVIEWS 4 */
    /* END PARTNERS-REVIEWS 4 */
    /* FOOTER */
}
@media (max-width: 1199px){
    /* HEADER */
    .header-heading-h1 {
        color: orange;
    }
    .header-logo {
        margin-right: 75px;
    }
    .header-nav ul li {
        margin-right: 25px;
    }
    .prev, .next {
        transform: scale(1.4);
        margin-left: 45px;
        margin-right: 45px;
    }
    /* END HEADER */
    /* ACTIVITIES 1 */
    
    /* END ACTIVITIES 1 */
    /* ABOUT 2 */
    
    /* END ABOUT 2 */
    /* BEAUTIES 3 */
    /* END BEAUTIES 3 */
    /* PARTNERS-REVIEWS 4 */
    /* END PARTNERS-REVIEWS 4 */
    /* FOOTER */
}
/* vertical tablet */
@media (max-width: 991px){
    /* HEADER */
    .header-heading-h1 {
        color: blue;
    }
    .header-logo {
        margin-right: -50px;
    }
    /* END HEADER */
    /* ACTIVITIES 1 */
    
    /* END ACTIVITIES 1 */
    /* ABOUT 2 */
    .about {
        margin-bottom: 80px;
    }
    .about-wrapper {
        flex-direction: column;
        row-gap: 30px;
        align-items: center;
    }
    .about-wrapper img {
        object-fit: cover;
        height: 230px;
        width: 100%;
        margin-right: 0;
    }
    .about-info {
        flex-direction: column;
    }
    .about-info-item {
        margin-bottom: 0;
    }
    /* END ABOUT 2 */
    /* BEAUTIES 3 */
    /* END BEAUTIES 3 */
    /* PARTNERS-REVIEWS 4 */
    /* END PARTNERS-REVIEWS 4 */
    /* FOOTER */
}
/* horizontal mobile */
@media (max-width: 767px){
    /* HEADER */
    .header-heading-h1 {
        color: green;
    }
    .header-nav { display: none; }
    .burger {
        display: flex;
    }
    /* slide buttons */
    .prev, .next {
        transform: scale(1.0);
        margin-left: 45px;
        margin-right: 45px;
    }
    /* END HEADER */
    /* ACTIVITIES 1 */
    .activities {
        margin-bottom: 60px;
    }
    .activities-slider {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        row-gap: 30px;
    }
    .a_prev, a_next {
        display: none;
    }
    /* END ACTIVITIES 1 */
    /* ABOUT 2 */
    .about {
        margin-bottom: 80px;
    }
    .about-wrapper {
        flex-direction: column;
        row-gap: 30px;
        align-items: center;
    }
    .about-wrapper img {
        object-fit: cover;
        height: 230px;
        width: 100%;
        margin-right: 0;
    }
    .about-info {
        flex-direction: column;
    }
    .about-info-item {
        margin-bottom: 0;
    }
    /* END ABOUT 2 */
    /* BEAUTIES 3 */
    /* END BEAUTIES 3 */
    /* PARTNERS-REVIEWS 4 */
    /* END PARTNERS-REVIEWS 4 */
    /* FOOTER */
}
/* vertical mobile */
@media (max-width: 575px){
    /* HEADER */
    .header-heading-h1 {
        color: magenta;
    }
    
    /* slide buttons */
    .prev, .next {
        transform: scale(1.0);
        margin-left: 21px;
        margin-right: 21px;
    }
    /* END HEADER */
    /* ACTIVITIES 1 */
    
    /* END ACTIVITIES 1 */
    /* ABOUT 2 */
    /* END ABOUT 2 */
    /* BEAUTIES 3 */
    /* END BEAUTIES 3 */
    /* PARTNERS-REVIEWS 4 */
    /* END PARTNERS-REVIEWS 4 */
    /* FOOTER */
}
@media (max-width: 490px){
    /* ABOUT 2 */
    .about {
        margin-bottom: 80px;
    }
    .about-wrapper {
        flex-direction: column;
        row-gap: 30px;
        align-items: center;
    }
    .about-wrapper img {
        object-fit: cover;
        height: 230px;
        width: 100%;
        margin-right: 0;
    }
    .about-info {
        flex-direction: column;
        align-items: center;
    }
    .about-info-item {
        margin-bottom: 0;
       width: 92%;
    }
    .about-info-p {
        line-height: 20px;
    }
    /* END ABOUT 2 */
}