/* HEADER */
.header {
    padding-bottom: 125px;
    & .container {
        padding: 0;
    }
}

.header__inner {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.header__top {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 58px;
}
.header__logo {
    display: flex;
    align-items: center;
    column-gap: 11px;
}
.header-logo-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 18px;
    color: #fff;
    line-height: auto;
    letter-spacing: 5px;
}
.header__logo-img {
    height: 40px;
}

/* NAVIGATION STYLES */
.menu__list {
    display: flex;
    column-gap: 65px;
}
.menu__item {
    border-radius: 10px;
    outline: 1px solid #f7f7f7;
    padding: 25px 20px;
}
.menu__item:hover {
    outline: 1px solid #ededed;
    filter: drop-shadow(2px 4px 6px black);
    & a {
        color: #fff;
    }
}
.menu__link {
    padding: 0 10px;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
}
.header-heading-p {
    position: absolute;
    left: 810px;
    top: 400px;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    /* font-size: 30px; */
    font-size: clamp(0.8rem, 0.287rem + 1.4275vw, 2rem);
    letter-spacing: 19px;
}

.header-heading-h1 {
    position: absolute;
    left: 315px;
    top: 330px;
   
    font-family: 'Montserrat', sans-serif;
    /* font-size: 250px;*/
    font-size: clamp(5rem, 0.2974rem + 13.0855vw, 16rem); 
    font-weight: 700;
}
